<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.mybatis.dao.CheckReservationDao">
	<resultMap id="BaseResultMap" type="com.hospital.mybatis.model.CheckReservation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="phone" 		property="phone" jdbcType="VARCHAR" />
		<result column="reservation_time" property="reservationTime" jdbcType="VARCHAR" />		
	</resultMap>
	<sql id="Base_Column_List">
		id ,user_name,update_time,phone,reservation_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select  id,user_name,update_time,phone,reservation_time
		from check_reservation
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByUserName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select   id,user_name,update_time,phone,reservation_time
		from check_reservation
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	<select id="selectByPhone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select   id,user_name,update_time,phone,reservation_time
		from check_reservation
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from check_reservation
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<update id="updateReservation" parameterType="com.hospital.mybatis.model.CheckReservation">
		  update check_reservation
		   set user_name = #{userName,jdbcType=VARCHAR},
		      update_time = #{updateTime,jdbcType=VARCHAR},
		      phone = #{phone,jdbcType=VARCHAR},
		      reservation_time = #{reservationTime,jdbcType=VARCHAR}
		    where id = #{id,jdbcType=INTEGER}
	</update>
	<insert id="insert" parameterType="com.hospital.mybatis.model.CheckReservation" >
    	insert into check_reservation (user_name,update_time,phone,reservation_time)
   		 values (#{userName,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{reservationTime,jdbcType=VARCHAR})
 	</insert>
</mapper>