<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.mybatis.dao.CheckProjectDetailDao">
	<resultMap id="BaseResultMap" type="com.hospital.mybatis.model.CheckProjectDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="single_project_name" property="singleProjectName" jdbcType="VARCHAR" />
		<result column="project_result" property="projectResult" jdbcType="VARCHAR" />
		<result column="project_unit" property="projectUnit" jdbcType="VARCHAR" />
		<result column="project_reference_range" property="projectReferenceRange" jdbcType="VARCHAR" />
		<result column="project_tips" property="projectTips" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,project_name,single_project_name,project_result,project_unit,project_reference_range,project_tips
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select project_name,single_project_name,project_result,project_unit,project_reference_range,project_tips
		from check_project_detail
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByProjectName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
			 project_name,single_project_name,project_result,project_unit,project_reference_range,project_tips
		from check_project_detail
		where project_name=#{projectName,jdbcType=VARCHAR}
	</select>
	<select id="selectByPhone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
			id,user_name,password,nick_name,gender,age,register_time,phone
		from user
		where phone = #{phone,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from pa_msg_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<update id="updateCardInfos" parameterType="java.util.List">
		update card_info
		<foreach collection="idList" index="index" item="item" open="("
			separator="," close=")">
			set status = #{item.status,jdbcType=INTEGER} WHERE id =#{item.id}
			#{item}
		</foreach>
	</update>
	<update id="updateUser" parameterType="com.hospital.mybatis.model.User">
		  update card_user
		  user_name,password,nick_name,gender,age,register_time,phone
		   set user_name = #{userName,jdbcType=VARCHAR},
		      password = #{password,jdbcType=VARCHAR},
		      nick_name = #{nickName,jdbcType=INTEGER},
		      gender = #{gender,jdbcType=VARCHAR},
		      age = #{age,jdbcType=INTEGER},
		      register_time = #{registerTime,jdbcType=INTEGER},
		      phone = #{status,jdbcType=INTEGER},
		    where id = #{id,jdbcType=INTEGER}
	</update>
	<insert id="insert" parameterType="com.hospital.mybatis.model.User" >
    	insert into user (user_name,password,nick_name,gender,age,register_time)
   		 values (#{user_name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},#{registerTime,jdbcType=VARCHAR})
 	 </insert>
   <insert id="insertCards" parameterType="java.util.List">  
    INSERT INTO card_info (card_number, password, status, update_time) 
    VALUES   
    <foreach collection="list" item="item" index="index" separator="," >  
    	 (#{item.cardNumber,jdbcType=VARCHAR},#{item.password,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.updateTime,jdbcType=VARCHAR})
    </foreach>  
  </insert> 
	<update id="updateCardInfo" parameterType="com.hospital.mybatis.model.CardInfo">
		update card_info
<!-- 		set card_number = #{cardNumber,jdbcType=VARCHAR}, -->
<!-- 		password = #{password,jdbcType=VARCHAR}, -->
		set status = #{status,jdbcType=INTEGER}
<!-- 		update_time = #{updateTime,jdbcType=VARCHAR} -->
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>